<div class="ten wide column centered">
    <div class="ui segment">

        <div class="ui form">
            <div class="inline fields">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit" checked="">
                        <label>All</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit">
                        <label>Employee</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="fruit">
                        <label>Contract</label>
                    </div>
                </div>
            </div>
            <div class="field">
                <select>
                    <option value="">Country</option>
                    <option value="0">United States</option>
                    <option value="1">India</option>
                    <option value="2">Canada</option>
                </select>
            </div>
        </div>
    </div>
</div>